.create-form{
    border: solid;
    justify-content: center;  
    width: max-content;
}

.ro{
    height:600px;
    width: 400px;
    justify-content: center;
    border: solid;
    padding: 50px;
    padding-bottom: 20px;
    margin: 20px 0;
    position: absolute;
    right: 550px;
    top: 50px;
    background-color: #C7DBD2;
}

.btn{
    justify-content: center;
    float: right;
}

.headj {
    justify-content: center;
    text-align: center;
}